Package: com.wavelink.bundleidsxi
Name: BundleIDsXI
Depends: mobilesubstrate, firmware (>=13.0)
Architecture: iphoneos-arm
Description: App to see installed app bundle IDs.
Maintainer: TD
Author: TD/nahtedetihw
Section: Utilities
Icon: https://wavelinkstudios.github.io/site/repo/packageIcons/bidsxi2-icon.png
Depiction: https://wavelinkstudios.github.io/site/repo/depictions/bidsxi(13+)/bidsxi.html
SileoDepiction: https://wavelinkstudios.github.io/site/repo/depictions/sileoNative/bidsxi(13+).json
Version: 2.0
Installed-Size: 432
